@import url('https://fonts.googleapis.com/css?family=Zhi+Mang+Xing&display=swap');
html {
    background-color: lightblue;
}
@media (orientation: portrait) {
    html {
      background-color: limegreen;
    }
}
  
@media (orientation: landscape) {
    html {
      background-color: yellow;
    }
}
header {
    background-color: lightsalmon;
    color: rgb(238, 75 ,75);
    font-family: 'Zhi Mang Xing', cursive;
    font-size: 25px;
    padding-bottom: 50px;
}

.primeraletra::first-letter {
    color: chocolate;
    font-family: helvetica, sans-serif;
    font-size: 100px;
    float: left;
    
}
.fondoarticle1 {
    background-color: rgb(110,218,96);
}
.fondosection1 {
    background-color: blanchedalmond;
}
.Espanya:hover {
    background-color: red;
    color: yellow;
}
.Galicia:hover {
    background-color: white;
    color: blue;
}
.pulsar {
    padding-right: 200px;
}
.Pulsar:focus {
    border: red;
  }
tr {
    background-color: goldenrod;
}
td {
    padding-right: 50px;
    text-align: left;
}

.cuadrito {
    background-color: blue;
    border-color: red;
    

}
.bdecolores {
    background-color: chocolate;
    color: yellow;
    text-align: center;
    border: 20px;
    border-top: blue 10px dotted;
    border-bottom: yellow 10px dashed;
    border-left: red 20px solid;
    border-right: red 20px solid;

}
.futer {
    background-color: rgb(238, 75 ,75);
    padding-bottom: 15px;
}